* {
  color: #fff;
}

.font-size-list {
  font-size: 0.9rem;
}

.font-size-list:hover {
  color: #1ed760 !important;
}

.anchorIcons {
  width: 1.2rem; 
  height: 1.2rem;
}

.bg-violet {
  background-color: blueviolet;
}

.bg-green {
  background-color: #22974b;
}

.bg-centrale {
  background-color: #121212;
}

.black {
  background-color: black;
}

.btn-play {
  background-color: #1ed760;
}

.playlistScroll {
  height: 71.6vh;
}

.playlistScroll::-webkit-scrollbar, .divCenterScroll::-webkit-scrollbar {
  width: 0.7rem;
 }
 
 .playlistScroll::-webkit-scrollbar-track, .divCenterScroll::-webkit-scrollbar-track {
  background: transparent;
 }
 
 .playlistScroll:-webkit-scrollbar-thumb, .divCenterScroll:-webkit-scrollbar-thumb {
  background-color: transparent;
 }
 
 .playlistScroll::-webkit-scrollbar-thumb:hover, .divCenterScroll::-webkit-scrollbar-thumb:hover{
  background-color: #2c2c2c;
 }


.bg-card-orizz {
  background-color: #2c2c2c;
}

.bg-card-verticali {
  background-color: #171717;
}

.divCenterScroll {
  height: 90.6vh;
}

.playlistCol {
  width: 32.33%;
}

.colorIcona {
  color: gray;
}

.bg-jumbotron {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 18%,
    rgba(53, 53, 53, 1) 70%
  );
}

.padding-row {
  padding-bottom: 9rem;
}

.bg-repeat {
  background-size: auto;
  background-blend-mode: darken;
  background-position: center;
}


.sfocatura {
  backdrop-filter: blur(10px);
  z-index: -1;
}

.amici {
  line-height: .1;
}

.font-p {
  font-size: 10px;
}

.input-search::placeholder {
  color: gray;
}

.input-search {
  outline: none;
}

.form-search {
  width: 20rem;
}

.form-search:hover {
  border: 1px solid rgb(60, 59, 59) !important;
}

.anchor-hover:hover .card {
  transform: scale(1.1) !important;
  transition: transform .5s ease;
}

.bg-opacity {
  background-color: #828282;
  opacity: .5;
  width: 100%;
}